<%= form_for SchoolUser.new do |f| %>
    <%= f.hidden_field(:school_id, value: @school.id) %>

    <p>H채r l채gger du till en rektor till <strong><%= @school.name %></p></strong>

<div class="row">
  <div class="large-12 columns">
    <table class="auto_size">
      <thead>
      <tr>
        <th>L채gg till</th>
        <th>Namn</th>
        <th>Email</th>
        <th>Yrke</th>

      </tr>
      </thead>
      <tbody>

      <% @users.each do |p| %>
        <% if @users.where(:id).empty? %>
          <% @showPrincipal.push(p) %>
          <% @temp = SchoolUser.where(:user_id == p.id) %>
          <% @temp.each do |ap| %>
            <% if ap.school_id == @school.id %>
              <% @hidePrincipal.push(ap)%>
            <% end %>
            <% @showPrincipal.each do |x| %>
              <% @hidePrincipal.each do |y| %>
                <% if x.id === y.user_id %>
                  <% @showPrincipal.delete(x) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>



      <% @showPrincipal.each do |t| %>
        <tr>
          <td><%= f.radio_button :user_id, t.id%></td>
          <td><%= t.name %></td>
          <td><%= t.email %></td>
          <td><%= t.user_type %></td>
        </tr>
      <% end %>

      

      </tbody>
    </table>
  </div>
</div>

    <%= f.submit "L채gg till rektor", :class => "button tiny", style: 'margin-top: 20px; float: left; margin-right: 10px;' %>
<% end %>

