<%= form_for(@school, :html => {:multipart => true}) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, 'fel') %> hindrar denna användaren från att sparas:</h2>
      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <h3>Lägg till en ny skola</h3>
      <h4 class="subheader">Här kan du lägga till en ny skola genom att ange namn på skolan, och vilket län den ligger i.</h4>
  <br />
  <div class="field">
    <%= f.label :name, 'Lägg till en ny skola' %>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
     <%= f.label :district, 'I vilket län ligger skolan?' %>
     <%= f.select(:district, [['Blekinge'], ['Dalarnas'], ['Gotlands'], ['Gävleborgs'], ['Hallands'], ['Jämtlands'], ['Jönköpings'], ['Kalmar'], ['Kronobergs'], ['Norrbottens'], ['Skåne'], ['Dalarnas'], ['Stockholms'], ['Södermanslands'], ['Uppsala'], ['Värmlands'], ['Västerbottens'], ['Västernorrlands'], ['Västmanlands'], ['Västra Götalands'], ['Örebro'], ['Östergötlands']]) %>
  </div>
  <div class="field">
    <%= f.label :file, 'Välj en bild att ha i mitten av hjulet' %><br>
    <%= f.file_field :file, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>
  <div class="field">
    <%= f.submit 'Lägg till', :class => 'button tiny' %>
    <%= link_to 'Tillbaka', schools_path, class: 'button tiny back', style: 'color: white' %>
  </div>
<% end %>
